@page "/edit-termin"
@page "/edit-termin/{terminTid}"
@using Entity
@using ReplanerAssist.Database
@inject IReplanerDB replanerdb;
@inject NavigationManager Navigation;
@inject IJSRuntime JSRuntime;

@if (terminTid != null)
{
    <div class="row text-light">
        <strong><h4><p class="text-light py-2">Termin bearbeiten</p></h4></strong>
    </div>
}
else
{
    <div class="row text-light">
        <strong><h4><p class="text-light py-2">Termin hinzufügen</p></h4></strong>
    </div>
}

<EditForm class="pKreis" Model="terminModel" OnValidSubmit="saveTermin">
    <div class="form-group text-light">
        <label class="form-label" for="inputDate">Datum</label>
        <input type="date"
               @bind-value="selectedDate"
               class="form-control"
               id="inputDate"
               aria-describedby="nameHelp"
               placeholder="Datum auswählen..." />
    </div>


    <div class="pKreis">
        @if (selectedAufgabe.PersonenListe.Count > 0)
        {
            <div class="row ">
                <h5>
                    Wähle Personen aus:
                </h5>
            </div>
            <div class="container-fluid overflow-auto" style="height: calc(100vh - 550px)">
                @foreach (var person in selectedAufgabe.PersonenListe.OrderBy(p => p.Vorname ?? p.Nachname))
            {
                <div class="form-check text-light">
                    <input type="radio"
                           class="form-check-input"
                           @onclick="() => addRemovePerson(person)"
                           id="@person.PID"
                           checked="@(terminModel.PersonenListe.Contains(person))" />
                    <label class="form-check-label" for="@person.PID">
                        @person.Vorname @person.Nachname @dayDifferenceDict[person.PID]
                    </label>
                </div>
            }
            </div>
        }
        else
        {
            <div class="row ">
                <h5>
                    In der Aufgabe kannst du einen Personenkreis auswählen!
                </h5>
            </div>
        }
    </div>


    <div>
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</EditForm>

@if (terminTid != null)
{
    <button @onclick="deleteTermin" type="button py-2" class="btn btn-warning">Termin Löschen</button>
}

@code {
    [Parameter]
    public string? terminTid { get; set; }

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    DateTime selectedDate
    {
        get => terminModel.Datum;
        set
        {
            terminModel.Datum = value;
            updateTimeDiff();
        }
    }
    Dictionary<string, string> dayDifferenceDict;

    WiederkehrendeAufgabe selectedAufgabe;
    Termin terminModel;

    protected override void OnInitialized()
    {
        selectedAufgabe = replanerdb.selectedAufgabe!;
        terminModel = replanerdb.Termine.Find(termin => termin.TID == terminTid) ?? new Termin() { WID = selectedAufgabe.WID, Aufgabe = selectedAufgabe, Datum = DateTime.Now.Date };
        selectedDate = terminModel.Datum;
    }

    public void updateTimeDiff()
    {
        dayDifferenceDict = new Dictionary<string, string>();
        List<Termin> termineForAufgabe = replanerdb.GetTermineForAufgabe(selectedAufgabe);

        foreach (Person person in selectedAufgabe.PersonenListe)
        {
            List<Termin> beforeSelected = termineForAufgabe.FindAll(
                termin =>
                    termin.TID != terminTid &&
                    termin.PersonenIDs.Contains(person.PID) &&
                    termin.Datum <= selectedDate
            );

            if (beforeSelected.Count > 0)
            {
                Termin latest = beforeSelected.OrderByDescending(termin => termin.Datum).ToList()[0];
                dayDifferenceDict.Add(person.PID, "(zuletzt vor " + (selectedDate - latest.Datum).Days + " Tagen)");
            }
            else
            {
                dayDifferenceDict.Add(person.PID, "(vorher noch nicht eingeplant gewesen)");
            }
        }
    }

    public void addRemovePerson(Person person)
    {
        if (terminModel.PersonenListe.Remove(person))
        {
            terminModel.PersonenIDs.Remove(person.PID);
        }
        else
        {
            terminModel.PersonenListe.Add(person);
            terminModel.PersonenIDs.Add(person.PID);
        }
    }

    public async Task saveTermin()
    {
        if (terminTid != null)
        {
            int index = replanerdb.Termine.FindIndex(termin => termin.TID == terminTid);
            replanerdb.Termine[index] = terminModel;
        }
        else
        {
            replanerdb.Termine.Add(terminModel);
        }

        await replanerdb.SaveDatabase();
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    public async Task deleteTermin()
    {
        var parameters = new ModalParameters().Add(
            nameof(DeleteConfirmation.Message),
            terminModel.Aufgabe.Titel + " am " +  terminModel.Datum.ToShortDateString()
        );
        var modal = Modal.Show<DeleteConfirmation>("Löschen", parameters);
        var result = await modal.Result;
        if (result.Confirmed)
        {
            int index = replanerdb.Termine.FindIndex(termin => termin.TID == terminTid);
            replanerdb.Termine.RemoveAt(index);
            await replanerdb.SaveDatabase();
            await JSRuntime.InvokeVoidAsync("history.back");
        }
    }

}
